#============= init ==============
allow init kernel:system module_request;

#============= kickstart ==============
allow kickstart log_device:chr_file { write open };
allow kickstart vfat:file { read getattr open };

#============= netmgrd ==============
allow netmgrd kernel:system module_request;

#============= sensors ==============
allow sensors socket_device:dir { write add_name };
allow sensors socket_device:sock_file { write create getattr setattr };
allow sensors unlabeled:dir { read getattr open };
allow sensors unlabeled:file { read write getattr open };

#============= toolbox ==============
allow toolbox init:fifo_file { write read getattr };
allow toolbox init:unix_stream_socket connectto;
allow toolbox property_socket:sock_file write;
allow toolbox radio_prop:property_service set;

#============= ueventd ==============
allow ueventd sysfs_hardware:file { write open };
