# Allow viper4android to work without damn SELinux disabler... disabled for now
#allow mediaserver mediaserver_tmpfs:file { read write execute };

#allow mediaserver camera_prop:property_service set;
